<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management - CybrixNova.com</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <h1>Welcome back,</h1>
            <div style="font-size: 2em;">
                <% if (user.level === "Owner") { %>
                    <span style="color: yellow; font-weight: bold;">[<%- user.level %>]</span>
                <% } else { %>
                    <span>[<%- user.level %>]</span>
                <% } %>
                <span style="color: magenta; margin-left: 5px;"><%- user.username %></span>
            </div>
        </div>
        <div class="footer">
            <%- include('../includes/footer') %>
        </div>
    </div>
</body>
</html>
