<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Files - Cybrix Admin Dashboard</title>
    <style>
        tr:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}
    </style>
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="admin-nav">
                <%- include('./includes/nav') %>
            </div>

            <div class="centered-box" style="overflow-x: scroll; max-width: 65%;" >
                <table>
                    <tr>
                        <td>ID</td>
                        <td>UUID</td>
                        <td>Filename</td>
                        <td>Uploader</td>
                        <td>Data Path</td>
                        <td>Sharekey</td>
                        <td>Visibility</td>
                        <td>Description</td>
                        <td>ACTIONS</td>
                    </tr>
                    <% files.forEach(file => { %>
                        <form action="/admin/files/edit/<%= file.ID %>" method="post">
                            <td><%= file.ID %></td>
                            <td><%= file.UUID %></td>
                            <td> <input type="text" name="filename" value="<%= file.filename %>"> </td>
                            <td><input type="text" name="uploader" value="<%= file.uploader %>"></td>
                            <td><%= file.data_path %></td>
                            <td><input type="text" name="sharekey" value="<%= file.sharekey %>"></td>
                            <td><input type="text" name="visibility" value="<%= file.visibility %>"></td>
                            <td> <input type="text" name="description" value="<%= file.description %>"> </td>
                            <td><a href="<%= uploadServer %>/file/<%- file.UUID %>" target="_blank"><img src="/img/icons/win98/msagent-1.png"></a> <button type="submit" class="link-button" style="display: inline;">Save</button> <a href="/admin/files/delete/<%= file.ID %>" style="display: inline;"><img src="/img/icons/win98/no-0.png" alt="Delete"></a>

    <input type="hidden" name="session_token" value="<%= user.sessionToken %>">
</form>
</td>
                        </tr>
                    <% }) %>
                </table>



            </div>
        </div>
    </div>
</body>
</html>